/* -------------------LATO Fonts------------------- */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
/* -------------------Reset------------------- */
*, ::before,::after{
    font-family: 'Lato', cursive;
    box-sizing: border-box;
    border: none;
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    /* border: 2px solid red ; */
}
body{
    background-color: #1d2634;
    color: #9e9ea4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    overflow: hidden;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .block{
    position: absolute;
    width: 50px;
    height: 50px;
    background: #444;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.5);
}
.container.circle .block{
    border-radius: 50%;
}
.container .block:nth-child(3n + 1){
    background: #444;
}
.container .block:nth-child(3n + 2){
    background: #fff;
}
.container .block:nth-child(3n + 3){
    background: #03a9f4;
}
.container button {
    position: relative;
    z-index: 1;
    margin: 10px;
    border: none;
    background: #fff;
    font-size: 1.2em;
    cursor: pointer;
    padding: 15px 30px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.25);
}