/* -------------------LATO Fonts------------------- */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
/* -------------------Reset------------------- */
*, ::before,::after{
    font-family: 'Lato', cursive;
    box-sizing: border-box;
    border: none;
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    /* border: 2px solid red ; */
}
/* -----------------Variables----------------- */
.light-mode{
    --color-light: #fff;
    --color: #222;
    --bg-color: #edf1f4;
    --bg-color-box: #e7ebee;
    --bg-color-statistics-light: #323442;
    --bg-color-statistics-dark: #282A3A;
}
/* .dark-mode{
    --color: #f0f0f0;
    --bg-color: #222;
} */
/* -------------------ROOT--------------------- */
:root{
    --body-color:#;
    --sidebar-color:#;
    --primary-color:#;
    --primary-color-light:#;
    --toggle-color:#;
    --text-color:#;
    ---color:#;
    /* -------------------Chargement------------------ */
    --font-size-chargemnt-Mobil:2.5em;
    --font-size-chargemnt:6em;
    --text-chargement01: #636363;
    --text-chargement02: #cf3d3d;
    --bg-chargement:  #000;
}
body{
    font-family: 'Lato', cursive;
    background-color: #1d2634;
    color: #9e9ea4;
}
/* ---------------------Chargement----------------------------- */
.loader{
    z-index: 15;
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--bg-chargement);
    display: flex;
    justify-content: center;
    align-items: center;
}
.lettre{
    color: #636363;
    font-size: var(--font-size-chargemnt);
    letter-spacing: 15px;
    margin-bottom: 150px;
    animation: chargement 1.2s linear infinite;
}
@keyframes chargement{
    0%{
        color: var(--text-chargement02);
        text-shadow: 0 0 7px var(--text-chargement02);
    }
    90%{
        color: var(--text-chargement01);
        text-shadow: none;
    }
    100%{
        color: var(--text-chargement02);
        text-shadow: 0 0 7px var(--text-chargement02);
    }
}
.lettre:nth-child(1){
    animation-delay:0.1s ;
}
.lettre:nth-child(2){
    animation-delay:0.2s ;
}
.lettre:nth-child(3){
    animation-delay:0.3s ;
}
.lettre:nth-child(4){
    animation-delay:0.4s ;
}
.lettre:nth-child(5){
    animation-delay:0.5s ;
}
.lettre:nth-child(6){
    animation-delay:0.6s ;
}
.lettre:nth-child(7){
    animation-delay:0.7s ;
}
.lettre:nth-child(8){
    animation-delay:0.8s ;
}
.lettre:nth-child(9){
    animation-delay:0.9s ;
}
.lettre:nth-child(10){
    animation-delay:1s ;
}
.fondu-out{
    display: none;
    opacity: 0;
    transition: opacity 0.4s ease-out;
}
.material-icons-outlined{
    vertical-align: middle;
    line-height: 1px;
    font-size: 35px;
}
.grid-container{
    height: 100vh;
    display: grid;
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: 70px 3fr;
    grid-template-areas: 
    "sidebar header header header"
    "sidebar main main main";
}
/* --------------Header--------------- */
.header{
    grid-area: header;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
}
.menu-icon{
    display: none;
}
/* --------------Sidebar--------------- */
#sidebar{
    grid-area: sidebar;
    height: 100%;
    background-color: #263043;
    overflow-y: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.sidebar-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 30px 30px;
    margin-bottom: 30px;
}
.sidebar-title > span{
    display: none;

}
.sidebar-brand{
    letter-spacing: 2px;
    margin-top: 15px;
    font-size: 1.5rem;
    font-weight: 700;
}
.sidebar-brand > span{
    padding-right: 10px;
}
.sidebar-list{
    margin-top: 15px;
    list-style-type: none;
}
.sidebar-list-item > span{
    padding-right: 10px;
}
.sidebar-list-item{
    letter-spacing: 1px;
    font-weight: 600;
    padding: 20px;
    padding-left: 30px;
    font-size: 1rem;
}
.sidebar-list-item:hover{
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}
.sidebar-responsive{
    display: inline !important;
    position: absolute;
    z-index: 12 !important;
}
/* --------------------------------Main-------------------------------- */
.container{
    overflow: hidden;
    position: absolute;
    width:  calc(100% - 260px);
    height: calc(100% - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .block{
    position: absolute;
    width: 50px;
    height: 50px;
    background: #444;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.5);
}
.container.circle .block{
    border-radius: 50%;
}
.container .block:nth-child(3n + 1){
    background: #4d4d4d;
}
.container .block:nth-child(3n + 2){
    background: #a5a5a5;
}
.container .block:nth-child(3n + 3){
    background: #2e2e2e;
}
.container button {
    position: relative;
    z-index: 1;
    margin: 10px;
    border: none;
    background: #fff;
    font-size: 1.2em;
    cursor: pointer;
    padding: 15px 30px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.25);
}
.main-container{
    overflow-y: auto;
    grid-area: main;
    color: rgba(255, 255, 255, 0.95);
}
.main-title h2{
    padding-left: 20px;
    z-index: 10;
}
.main-title{
    z-index: 10;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.main-cards{
    padding-left: 20px;
    z-index: 10;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin: 20px 0;
}
.card{
    z-index: 10;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px;
    border-radius: 5px;
}
.card > h1{
    z-index: 10;
    padding-top: 15px;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 1rem;
}
.card:first-child{
    background-color: #275df0;
}
.card:nth-child(2){
    background-color: #f16c07;
}
.card:nth-child(3){
    background-color: #348037;
}
.card:nth-child(4){
    background-color: #d10606;
}
.card-inner{
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-inner >.material-icons-outlined{
    font-size: 25px;
    padding-left: 5px;
}
.charts{
    padding-left: 20px;
    z-index: 10;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 60px;
}
.charts-card{
    z-index: 10;
    background-color: #263043;
    margin-bottom: 20px;
    padding: 25px;box-sizing: border-box;
    -webkit-column-break-inside: avoid;
    border-radius: 5px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}
.chart-title{
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* -------------------------Medias queries--------------------- */

@media (max-width: 1040px) {
    .grid-container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 3fr;
        grid-template-areas: 
        "header"
        "main";
    }  
    .main-title{
        justify-content: center;
    }  
    #sidebar{
        display: none;
    }
    .menu-icon{
        display: inline;
    }
    .sidebar-title > span{
        display: inline;
    }
    .container{
        width:  100% ;
    }
    .charts{
        padding-left: 20px;
        gap: 10px;
    }
}
@media (max-width: 770px) {
    .lettre{
        font-size: var(--font-size-chargemnt-Mobil);
        letter-spacing: 1px;
    }
    .main-cards{
        grid-template-columns: 1fr;
        gap: 10px;
        margin-bottom: 0;
    }
    .charts{
        grid-template-columns: 1fr;
        margin-top: 30px;
    }
    
}


@media (max-width: 570px){
    .header-left{
        display: none;
    }
    .charts{
        transform: scale(0.5) translate(-141px, -469px );
        margin-top: 15px;
    }
} 
